<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') -%>
    <style>
      .row label{
          font-size: 13px;
          font-weight: 600;
      }
  </style>
</head>

<body>

        <%- include('../partials/header') -%>

            <div class="container-fluid pt-4 px-4 vh-100" style="max-width:80%;">
                <div class="row g-4 p-4">

                    <form class="forms-sample" id="addBannerForm" action="/admin/add-banner" method="post" enctype="multipart/form-data">
                        <h4 class="text-dark">ADD BANNER</h4>

                        <div class="form-group my-2">
                          <label for="title">Title</label>
                          <input type="text" class="form-control" id="title" style="background: transparent;" name="title">
                          <span id="titleError" style="font-weight: 700;font-size: 13px;" class="text-primary"></span>
                        </div>

                        <div class="form-group my-2 ">
                            <label for="description">Description</label>
                            <input type="text" class="form-control" id="description" style="background: transparent;" name="description">
                            <span id="descriptionError" style="font-weight: 700;font-size: 13px;" class="text-primary"></span>
                        </div>

                        <div class="form-group my-2">
                            <label for="bannerType">Banner Type</label>

                            <select class="form-control" id="bannerType" style="background: transparent;" name="type">
                                <option value=""  selected>Select Type</option>
                                <option value="hero-banner">Hero Banner</option>
                                <option value="featured-banner">Featured Banner</option>                  
                            </select>
                            <span class="text-primary" id="bannerTypeError" style="font-weight: 700;font-size: 13px;"></span>
                        </div>


                        <div class="form-group my-2">
                            <label for="url">URL</label>
                            <input type="text" class="form-control" id="url" style="background: transparent;" name="url">
                            <span id="urlError" style="font-weight: 700;font-size: 13px;" class="text-primary"></span>
                        </div>

                                            
                        <!-- banner image -->
                        <div class="form-group mb-3">
                          <label for="image">Banner Images</label>
                          <input type="file" accept="image/*"  class="form-control file-upload-info productImages" id="bannerImages" name="image" style="background: transparent;">
                          <span class="text-primary" id="bannerImagesError" style="font-weight: 700;font-size: 13px;" ></span>
                        </div>

                        <div class="form-group">
                          <span class="text-primary" id="error" style="font-weight: 700;font-size: 13px;" ><%= error %></span>
                        </div>

                        
                        <button type="submit" class="btn btn-primary px-5 mt-2"> ADD BANNER </button>
                    </form>
                      
                </div>
            </div>
        

            <%- include('../partials/footer') -%>


        </div>
        
    </div>
    
<script>
  const addBannerForm = document.getElementById('addBannerForm');
  const title = document.getElementById('title');
  const description = document.getElementById('description');
  const bannerType = document.getElementById('bannerType');
  const url = document.getElementById('url');
  const bannerImages = document.getElementById('bannerImages');

  addBannerForm.addEventListener('submit', (event) => {

    // set has errors false by default
    let hasErrors = false;
  
    // clear previous messages
    document.getElementById("error").innerHTML = "";
    document.getElementById("titleError").innerHTML = "";
    document.getElementById("descriptionError").innerHTML = "";
    document.getElementById("bannerTypeError").innerHTML = "";
    document.getElementById("urlError").innerHTML = "";
    document.getElementById("bannerImagesError").innerHTML = "";

    
      if(!title.value) {
        hasErrors = true;
        document.getElementById("titleError").innerHTML = "This field is required";
      } else if (!title.value.match(/^[A-Za-z0-9\s.,:;%]+$/)) {
        hasErrors = true;
        document.getElementById("titleError").innerHTML = "Title must not contain special characters";
      } else if(title.value.length < 3 || title.value.length > 50){
        hasErrors = true;
        document.getElementById('titleError').innerHTML = "Title should be between three to fifty characters"
      }

      if (!description.value) {
        hasErrors = true;
        document.getElementById('descriptionError').innerHTML = "This field is required"
      } else if (description.value.length < 5 || description.value.length > 100){
        hasErrors = true;
        document.getElementById('descriptionError').innerHTML = "Description should be between five to hundred cahracters";
      } else if (title.value == description.value) {
        hasErrors = true;
        document.getElementById("descriptionError").innerHTML = "Banner name and description can't be same";
      }

      
      if (!bannerType.value) {
        hasErrors = true;
        document.getElementById("bannerTypeError").innerHTML = "This filed is required";
      }
    
      if (!bannerImages.value) {
        hasErrors = true;
        document.getElementById("bannerImagesError").innerHTML = "This field is required";
      }

    // prevent submission if has error is true
    if (hasErrors) {
      event.preventDefault();
    }
  });

      

  //image upload 
  bannerImages.addEventListener('change', function(event) {

    if (bannerImages.files.length > 3) {
      hasErrors = true;
      bannerImages.value = ''; 
      document.getElementById("bannerImagesError").innerHTML = "You can only select up to three images.";
    } 

  });
            
</script>

<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="/admin/lib/chart/chart.min.js"></script>
<script src="/admin/lib/easing/easing.min.js"></script>
<script src="/admin/lib/waypoints/waypoints.min.js"></script>
<script src="/admin/lib/owlcarousel/owl.carousel.min.js"></script>
<script src="/admin/lib/tempusdominus/js/moment.min.js"></script>
<script src="/admin/lib/tempusdominus/js/moment-timezone.min.js"></script>
<script src="/admin/lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>
<script src="/admin/js/main.js"></script>
</body>

</html>