<div class="mobile-menu-container mobile-menu-light">
    <div class="mobile-menu-wrapper">
        <span class="mobile-menu-close"><i class="icon-close"></i></span>
        
        <nav class="mobile-nav">
            <ul class="mobile-menu">
                <li class="active">
                    <a href="/">Home</a>                       
                </li>
                <li>
                    <a href="/shop/1">Shop</a>                        
                </li>
                <li>
                    <a href="/profile" class="sf-with-ul">Profile</a>                        
                </li>
                <li>
                    <a href="/orders">Orders</a>                    
                </li>
                <li>
                    <a href="/coupons">Coupons</a>                        
                </li>
                <li>
                    <a href="/wallet">Wallet</a>                       
                </li>
                <li>
                    <a href="/cart">Cart</a>                       
                </li>
                <li>
                    <a href="/logout">Logout</a>
                </li>
            </ul>
        </nav><!-- End .mobile-nav -->
        
    </div><!-- End .mobile-menu-wrapper -->
</div><!-- End .mobile-menu-container -->